In [1]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px
import yfinance as yf
# import pandas_market_calendars as mcal
from plotly.offline import init_notebook_mode, plot
init_notebook_mode(connected=True)

# Performance Calculation

In [2]:
df_weight = pd.read_excel(r'C:\Users\chins\Downloads\Finance_Test_File.xlsx')
df_weight.set_index('Date',inplace=True)

start_date = min(df_weight.index.strftime('%Y-%m-%d'))
end_date = max(df_weight.index.strftime('%Y-%m-%d'))
time_period = pd.date_range(start_date,end_date)

df_weight = df_weight.reindex(time_period,method='nearest')
df_weight.head()

             QQQ   SPY  AAPL   DJI
2022-01-01  0.25  0.25  0.25  0.25
2022-01-02  0.25  0.25  0.25  0.25
2022-01-03  0.25  0.25  0.25  0.25
2022-01-04  0.25  0.25  0.25  0.25

In [3]:
def get_data(stocks, start, end, field):
    df = yf.download(stocks, start=start, end=end)
    time_period = pd.date_range(start,end)
    df = df.reindex(time_period,method = 'nearest')
    output = df[field]
    return(output)

lst_tickers = df_weight.columns.values.tolist()

price_data = get_data(lst_tickers,'2022-01-01','2022-11-30','Adj Close')
price_data.head()

[*********************100%***********************]  4 of 4 completed

                  AAPL           DJI         QQQ         SPY
2022-01-01  180.959732  36585.101562  399.696045  472.242310
2022-01-02  180.959732  36585.101562  399.696045  472.242310
2022-01-03  180.959732  36585.101562  399.696045  472.242310
2022-01-04  178.663086  36799.699219  394.511749  472.084137
2022-01-05  173.910660  36407.101562  382.391937  463.019104

In [4]:
df_period = price_data.loc[start_date:end_date,:]
df_period.head()

                  AAPL           DJI         QQQ         SPY
2022-01-01  180.959732  36585.101562  399.696045  472.242310
2022-01-02  180.959732  36585.101562  399.696045  472.242310
2022-01-03  180.959732  36585.101562  399.696045  472.242310
2022-01-04  178.663086  36799.699219  394.511749  472.084137

In [5]:
df_norm = df_period / df_period.iloc[0]
df_norm.head()

                AAPL       DJI       QQQ       SPY
2022-01-01  1.000000  1.000000  1.000000  1.000000
2022-01-02  1.000000  1.000000  1.000000  1.000000
2022-01-03  1.000000  1.000000  1.000000  1.000000
2022-01-04  0.987309  1.005866  0.987029  0.999665

In [15]:
df_total = df_norm * df_weight
df_total['Total'] = df_total.sum(axis = 1)
df_total

                AAPL       DJI       QQQ       SPY     Total
2022-01-01  0.250000  0.250000  0.250000  0.250000  1.000000
2022-01-02  0.250000  0.250000  0.250000  0.250000  1.000000
2022-01-03  0.250000  0.250000  0.250000  0.250000  1.000000
2022-01-04  0.246827  0.251466  0.246757  0.249916  0.994967

In [10]:
df = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
df.dot(s)

0   -4
1    5
dtype: int64

In [11]:
df.values

array([[ 0,  1, -2, -1],
       [ 1,  1,  1,  1]], dtype=int64)

In [ ]:

time_period = pd.date_range('2022-01-01','2022-11-30')
price_data = price_data.reindex(time_period, fill_value = 0)
price_data.head()

In [ ]:
def get_data(stocks, start, end, field):
    df = yf.download(stocks, start=start, end=end)
    output = df[field]
    return(output)

stock_list = ['QQQ','SPY','M44U.SI']
lst_weights = [,0.25,0.25,0.5]

get_data(stock_list,'2022-01-01','2022-11-11','Adj Close')

In [ ]:
price_data = get_data(stock_list,'2022-01-01','2022-11-11','Adj Close') 
price_data = price_data / price_data.iloc[0,:]
price_data.tail()

In [ ]:
price_data.std()

In [ ]:
weighted_risk = price_data.std() * lst_weights
print("{:.2%}".format(weighted_risk.sum()))

In [ ]:
def create_market_cal(start, end):
    nyse = mcal.get_calendar('NYSE')
    schedule = nyse.schedule(stocks_start, stocks_end)
    market_cal = mcal.date_range(schedule, frequency='1D')
    market_cal = market_cal.tz_localize(None)
    market_cal = [i.replace(hour=0) for i in market_cal]
    return market_cal


def get_benchmark(benchmark, start, end):
    benchmark = get_data(benchmark, start, end)
    benchmark = benchmark.drop(['symbol'], axis=1)
    benchmark.reset_index(inplace=True)
    return benchmark

In [ ]:
import yfinance as yf
stock_list = ['QQQ','SPY','M44U.SI']
data = yf.download(stock_list, start="2022-01-01", end="2022-11-11")

data['Adj Close']

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
import requests
import re

keys = ['XLU', 'XLRE']


headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:83.0) Gecko/20100101 Firefox/83.0"
}


def main(url):
    with requests.Session() as req:
        req.headers.update(headers)
        for key in keys:
            r = req.get(url.format(key))
            print(f"Extracting: {r.url}")
            goal = re.findall(r'etf\\\/(.*?)\\', r.text)
            print(goal)


main("https://www.zacks.com/funds/etf/{}/holding")

In [ ]:
from yahooquery import Ticker

ticker_name = 'INDA US Equity'
ticker = ticker_name[:-10]

t = Ticker(ticker_name)

# sector weightings, returns pandas DataFrame
sector_dict_list = t.fund_sector_weightings[ticker]['sectorWeightings']
dict_sector = {}
for d in sector_dict_list:
    dict_sector.update(d)

df_sector = pd.DataFrame(dict_sector.items(), 
                         columns=['Sector', 'Weight'])\
                        .sort_values('Weight',
                         ascending = False)
df_sector['Weight'] = df_sector['Weight']
df_sector=df_sector.set_index('Sector')
# df_sector

fig = px.bar(df_sector, 
             x=df_sector.index, y='Weight',
             color='Weight',
             hover_data=[df_sector.index, 'Weight'],
             height=400,
             title = ticker_name + ' SECTOR BREAKDOWN',
#              text = 'Weight'
            )
fig.show()

In [ ]:
#- How many assests to include in each portfolio
n_assets = 5
#-- How many portfolios to generate
n_portfolios = 1000

#-- Initialize empty list to store mean-variance pairs for plotting
mean_variance_pairs = []

np.random.seed(75)
#-- Loop through and generate lots of random portfolios
for i in range(n_portfolios):
    #- Choose assets randomly without replacement
    assets = np.random.choice(list(daily_returns.columns), n_assets, replace=False)
    #- Choose weights randomly
    weights = np.random.rand(n_assets)
    #- Ensure weights sum to 1
    weights = weights/sum(weights)

    #-- Loop over asset pairs and compute portfolio return and variance
    #- https://quant.stackexchange.com/questions/43442/portfolio-variance-explanation-for-equation-investments-by-zvi-bodie
    portfolio_E_Variance = 0
    portfolio_E_Return = 0
    for i in range(len(assets)):
        portfolio_E_Return += weights[i] * mus.loc[assets[i]]
        for j in range(len(assets)):
            #-- Add variance/covariance for each asset pair
            #- Note that when i==j this adds the variance
            portfolio_E_Variance += weights[i] * weights[j] * cov.loc[assets[i], assets[j]]
            
    #-- Add the mean/variance pairs to a list for plotting
    mean_variance_pairs.append([portfolio_E_Return, portfolio_E_Variance])

In [ ]:

#-- Plot the risk vs. return of randomly generated portfolios
#- Convert the list from before into an array for easy plotting
mean_variance_pairs = np.array(mean_variance_pairs)
risk_free_rate=0 #-- Include risk free rate here for sharpe ratio

#-- Create Plot
fig = go.Figure()
fig.add_trace(go.Scatter(x=mean_variance_pairs[:,1]**0.5, 
                         y=mean_variance_pairs[:,0], 
                      #- Add color scale for sharpe ratio   
                      marker=dict(color=(mean_variance_pairs[:,0]-risk_free_rate)/(mean_variance_pairs[:,1]**0.5), 
                                  showscale=True, 
                                  size=7,
                                  line=dict(width=1),
                                  colorscale="RdBu",
                                  colorbar=dict(title="Sharpe<br>Ratio")
                                 ), 
                      mode='markers'))
#- Add title/labels
fig.update_layout(template='plotly_white',
                  xaxis=dict(title='Annualised Risk (Volatility)'),
                  yaxis=dict(title='Annualised Return'),
                  title='Sample of Random Portfolios',
                  coloraxis_colorbar=dict(title="Sharpe Ratio"))
view rawplot_mv_simple.py hosted with ‚ù§ by GitHub

0   -4
1    5
dtype: int64